.scanner-result-component {
  width: 97% !important;
  margin: auto;
  margin-top: 4rem;
}

.scanner-result-heading {
  display: flex;
  justify-content: space-between;
}

.scanner-results-tabel {
  box-shadow: 0px 3px 6px #00000029;
}

.download-historical-scanner-results {
  border-radius: 5px;
  margin-left: 60px !important;
  height: max-content;
  width: max-content !important;
  padding: 0.5rem;
  border: 2px solid #e27498;
  color: #e27498 !important;
}

.add-scanner {
  border-radius: 5px;
  margin-left: 60px !important;
  height: max-content;
  width: max-content !important;
  padding: 0.5rem;
  border: 2px solid black;
  color: black !important;
}
