.scanner-filter-component {
  display: flex;
  // display: inline-block;
}

.scanner-indicator-component {
  // width: max-content;
  min-width: 15rem;
  display: inline-block;
  padding: 1rem 0;
  border: 2px solid #d5d5d5;
  border-radius: 16px;
  // height: 35rem;
  // overflow: auto;
}

.scanner-indicator-search {
  border: transparent !important;
}

.scanner-indicator-name {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: #e2749810 0% 0% no-repeat padding-box;
  border: 2px solid #e27498;
  border-radius: 7px;
  padding-left: 0px;
}

.scanner-filter {
  padding: 1rem;
  // width: max-content;
  display: inline-block;
}

.scanner-custom-filter {
  height: max-content;
  border: 2px solid #d5d5d5;
  border-radius: 16px;
}

.scanner-filter-operation {
  padding: 1rem;
  // width: max-content;
  min-width: 15rem;
  display: inline-block;
}

.scanner-math-operation {
  padding: 1rem;
}

.scanner-math-operation-icons {
  margin: 0.2rem 0.7rem;
  padding: 6px 14px;
  vertical-align: middle;
  background: #e2749810 0% 0% no-repeat padding-box;
  border: 2px solid #e27498;
  border-radius: 7px;
  font-size: larger;
  display: inline-block;
}

.scanner-binary-operation-icons {
  margin: 0.2rem 0.7rem;
  padding: 6px 14px;
  vertical-align: middle;
  background: #e2749810 0% 0% no-repeat padding-box;
  border: 2px solid #e27498;
  border-radius: 7px;
  display: inline-block;
}

.scanner-time-and-lot-size {
  padding: 1rem;
  display: flex;
}

.scanner-time-input-box {
  border: 1px solid #707070;
  border-radius: 4px;
}

.scanner-time-input {
  margin: 0rem 1rem;
}

.scanner-fno-select {
  min-width: 10rem;
}

.scanner-segments {
  padding: 1rem;
  display: flex;
}

.scanner-segment-select {
  margin: 0 1rem;
}

.scanner-satisfy {
  padding: 1rem;
  display: flex;
}

.scanner-satisfy-not-satisfy {
  display: flex;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border-radius: 7px;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
.hovertext {
  position: relative;
}

.hovertext {
  visibility: hidden;
  opacity: 0;
  width: 50px;
  background-color: pink;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 10px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -100%;
}

.hovertext:hover {
  opacity: 1;
  visibility: visible;
}
