.modal-dialog {
    position: relative;
    top: 10rem;
}

.indicator-modal-indicators{
    cursor: pointer;
}

.indicator-modal-indicators:hover{
    text-decoration: underline !important;
}

.premium-input{
    width: 100px !important;
}