.project-list-table-heading {
  border: none !important;
  padding: 30px 30px 30px 30px !important;
  font: normal normal medium 24px/28px Ubuntu;
  text-align: center;
  color: #000;
}
.project-list-table-row {
  font-weight: 600;
  font-size: 15px;
  padding: 20px 0 20px 0 !important;
  text-align: center;
  padding: 30px 20 30px 20px !important;
}
.project-list-table-scanner-name {
  color: #007bff;
  font: normal normal bold 15px/24px Ubuntu;
}
