.scanner-conditions-options {

    padding: 1rem 0;
}

.scanner-indicator-drag-request {
    font-weight: bold;
    font-size: larger;
    padding: 1rem 1rem;
    // z-index: -10;
}

.scanner-conditions-option {
    
    padding: 0 1rem !important; 
}

.scanner-conditions-options {

    display: flex; 
}

.scanner-condition-option {
    background: #E2749810 0% 0% no-repeat padding-box !important;
}

#scanner-condition-indicators {
    display: flex;
}

.scanner-indicator-component{
    height: max-content;
}

.delete-icon {

    position: relative;
    top: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
}