.scanner-conditions-options {

    padding: 1rem 0;
}

.scanner-indicator-drag-request {
    
    padding: 1rem 1rem;
}

.scanner-conditions-option {
    
    padding: 0 1rem !important; 
}

.scanner-conditions-options {

    display: flex; 
}

.scanner-condition-option {
    background: #E2749810 0% 0% no-repeat padding-box !important;
}